
.opacity {
    opacity: 0.6;
}
.main {
    background-image: linear-gradient(to bottom, #f5f5f5, $white-full 9%);
    height: 80%;
    @include for-tablet-up{
        height: 85vh;
        display: flex;
        flex-direction: row-reverse;
        padding: 0 rem(40);
    }

    @include for-desktop-up{
        height: 80%;
    }
}
.errorEmail {
	font-size: rem(14);
	color: red;
	text-align: center;
	margin-bottom: rem(10);
}

.preview {
    background-image: url(../../images/flowers.jpg);
    background-position: center;
    background-color:#b3b3fc71;
    background-size: cover;
    height: 80vh;
    // border-bottom: 3px solid rgba(168, 164, 164, 0.5);
    // border-top: 3px solid rgba(168, 164, 164, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    @include for-tablet-up{
        width: 80%;
        height: auto;
        margin-top: rem(23);
        margin-bottom: rem(21);
        border-radius: rem(6);
        padding: rem(50) 0 rem(80);
        // border: 3px solid rgba(168, 164, 164, 0.5);
        border-radius: rem(8);
    }
        
    &_card-container {
        height: rem(400);
        width: rem(270);
        border-radius: rem(8);
        // background-color: rgba(248, 84, 85, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     
        @include for-desktop-up{
            height: rem(470);
            width: rem(340);
        }

    }
    .reset{
        width: rem(75);
        height: rem(30);
        margin-top: 40px;
        align-self: center;
        transform: translateX(-85px);
        border: solid 1px $white-full;
        border-radius: 15px;
        background-color: #f85455;
        font-family: $openSans-font;
        font-size: rem(10);
        line-height: 20px;
        color: $white-full;
        text-transform: uppercase;
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     

        &:hover {
            border: solid 2px #b3b3fc;
            color: rgb(231, 231, 231);
            box-shadow: 0 0 rem(20) rgba(173,173,173,0.80);
            transition: box-shadow ease-in 0.5s, color ease-in 0.5s, border ease-in 0.5s;
        }
    }
    
    &_card{
        margin: rem(20) rem(30) rem(40) rem(30);
        background-color: $white-full;
        width: rem(240);
        height: rem(329);
        border-radius: rem(10);
        -webkit-box-shadow: -12px 18px 48px -3px rgba(173,173,173,0.63);
        -moz-box-shadow: -12px 18px 48px -3px rgba(173,173,173,0.63);
        box-shadow: -12px 18px 48px -3px rgba(173,173,173,0.63);


        &-head{
            margin-top: rem(23);
            margin-bottom: rem(10);
            border-left: rem(5) solid $dirty-blue;
        }

        &-name{
            text-transform: capitalize;
            font-family: $montserrat-font;
            font-weight: $bold-weight;
            font-size: rem(18);
            line-height: rem(20);
            color: $dark-green-blue;
            padding-left: rem(20);
            margin-top: rem(0);
            margin-bottom: rem(2);
        }
        
        &-job{
            font-family: $montserrat-font;
            font-weight: $regular-weight;
            font-size: rem(16);
            line-height: rem(20);
            color: $gunmetal;
            padding-left: rem(20);
            margin-top: rem(2);
            margin-bottom: rem(0);
        }
        &-image {

            background-size: cover;
            width: rem(240);
            height: rem(200);
            background-position: center;
            background-repeat: no-repeat;


        }
        &-social{
            display: flex;
            flex-direction: row;
            align-content: flex-start;
            justify-content: center;
            height: rem(50);
            padding-right: rem(62);
            padding-left: rem(20);
            margin-top: rem(7);

            .item {
                height: rem(32);

                &_btn{
                    border: solid rem(2) $hospital-green;
                    border-radius: 50%;
                    width: rem(32);
                    height: rem(32);
                    margin: rem(0) rem(5) rem(15) rem(5);
                    color: $dark-green-blue;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}
