.landing_wrapper{
    width: 100%;
  }
.footer__container{
  width: 100%;
  height: 20%;
  border-top: 1px solid $white-two;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    @include for-tablet-up{
      flex-direction: row;
      justify-content: space-between;
      height: 6%;
    }
    @include for-desktop-up{
      height: 10%;
    }
}
.footer__copyright{
  padding-top: rem(18);
  font-family: $openSans-font;
  font-size: rem(14);
  line-height: rem (20);
  color: $brownish-grey;
  margin: 0;
  /*padding: 20px 0 10px;*/
  @include for-tablet-up{
    padding: 20px 41px;
  }
}
.footer__logo-container{
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0 15px 0;
}
.footer__logo{
  margin: 12px 0 0 0;
  height: 40px;
  padding-top: 5px;
  @include for-tablet-up{
    margin: 0 41px 0 41px;
  }
}
.footer__logo__group{
  height: 70px;
  width: 100px;
  @include for-tablet-up{
    display: none;
  }
}