.page__header {
    width: 100%;
    // @include for-tablet-up{
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    // }
}
.image__header {
    max-width: 201px;
    margin-left: 40px;
    height: 10%;
    // @include for-tablet-up{
    //     margin-left: 60px;
    // }
}