.input_label{
    @include text-open-14;
    color: $dark-green-blue;
    display: block;
    margin: rem(20) auto rem(7);
}
.input{
    width: 100%;
    padding-left: rem(10);
    @include text-open-14;
    border: solid 1px $hospital-green;
}
.error-alert {
    color: rgb(236, 18, 18);
    line-height: 2;
    text-align: center;
    font-family: $openSans-font;
    font-size: rem(12);
    margin: rem(4) rem(0);
}
.photo{
    display: none;
}
.add-image-container{
    display: flex;
}
.btn-add-image{
    width: rem(140);
    height: rem(30);
    border-radius: rem(5);
    box-shadow: rem(0) rem(0) rem(4) rem(0) $black-32;
    background-color: $dull-orange;
    @include text-open-14;
    color: $white-full;
}
.preview-image{
    width: rem(30);
    height: rem(30);
    background: top center no-repeat;
    background-size: cover;
    border: solid rem(1) $hospital-green;
    display: inline-block;
    margin-left: rem(20);
}

/*JS classes*/
.hidden{
    display: none;
}
.darkGreenBlue{
    color: $dark-green-blue;
}
.driedBlood{
    color: $dried-blood;
}
.slate{
    color: $slate;
}
.jungleGreen{
    color: $merche-blue;
}
.rotate{
    transform: rotate(180deg);
}
.borderPalette1{
    border-left: rem(5) solid $dirty-blue;
}
.borderPalette2{
    border-left: rem(5) solid $rusty-red;
}
.borderPalette3{
    border-left: rem(5) solid $faded-orange;
}
.borderPalette4{
    border-left: rem(5) solid $merche-lavander;
}
.fontMontserratRegular{
    font-family: 'Montserrat', sans-serif;
    font-size: rem(16);
}
.fontMontserratBold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: rem(18);
}
.fontCherrySwashRegular{
    font-family: 'Cherry Swash', cursive;
    font-size: rem(16);
}
.fontCherrySwashBold{
    font-family: 'Cherry Swash', cursive;
    font-weight: 700;
    font-size: rem(18);
}
.fontKalamRegular{
    font-family: 'Kalam', cursive;
    font-size: rem(18);
}
.fontKalamBold{
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: rem(20);

}