.share{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create_card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-btn{
        width: rem(199);
        height: rem(50);
        margin: rem(25) rem(0) rem(35);
        border-radius: rem(12);
        box-shadow: 0 rem(1) rem(6) 0 $black-32;
        background-color: $dull-orange;
        color: $white-full;
        align-self: center;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 rem(1) rem(15) 0 rgba(0, 0, 0, 0.32);
            transition: transform ease-in 0.3s;
        }
    
    }
}
.btn-disabled {
    background-color: $black-32;
    pointer-events: none;
    align-self: center;
    opacity: 50%;
}
.twitter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &-message{
        margin-top: rem(20);
        margin-bottom: rem(10);
        @include text-open-18-600;
        color: $gunmetal;
    }
    &-btn{
        width: rem(195);
        height: rem(33);
        display: block;
        padding-top: rem(6);
        border-radius: rem(5);
        box-shadow: 0 0 rem(4) 0 $black-32;
        background-color: $azure;
        @include text-open-14;
        color: #ffffff;
        text-align: center;
        margin: 20px auto 30px;
        &:hover{
            transform: scale(1.05);
            transition: transform ease-in 0.5s;
        }
    }
}
.linkedin-btn{
    width: rem(195);
    height: rem(33);
    display: block;
    padding-top: rem(5);
    padding-bottom: rem(9);
    border-radius: rem(5);
    box-shadow: 0 0 rem(4) 0 $black-32;
    border: 1px solid rgb(51, 50, 50);
    background-color: #dbdfe2;
    @include text-open-14;
    font-weight: 600;
    color: black;
    text-align: center;
    margin: 0 auto rem(30);
    &:hover{
        transform: scale(1.05);
        transition: transform ease-in 0.5s;
    }
}
.fa-linkedin{
    color: #0077b5;
    font-size: rem(18);
    margin-top: rem(1);
}

.card-url {
    text-align: center;
    font-family: $openSans-font;
    font-size: rem(12);
}