.share{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create_card{
    width: 100%;
    border-bottom: 1px solid $white-two;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-btn{
        width: 199px;
        height: 50px;
        margin: 25px 0px 35px;
        border-radius: 12px;
        box-shadow: 0 1px 6px 0 $black-32;
        background-color: $dull-orange;
        color: $white-full;
        align-self: center;
        cursor: pointer;
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.32);
        }
    
    }
}
.btn-disabled {
    background-color: $black-32;
    pointer-events: none;
    align-self: center;
    opacity: 50%;
}
.twitter{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid $white-two;
    &-message{
        margin-top: 20px;
        margin-bottom: 10px;
        @include text-open-18-600;
        color: $gunmetal;
    }
    &-btn{
        width: 195px;
        height: 33px;
        display: block;
        padding-top: 6px;
        border-radius: 5px;
        box-shadow: 0 0 4px 0 $black-32;
        background-color: $azure;
        @include text-open-14;
        color: #ffffff;
        text-align: center;
        margin: 20px auto 30px;
        &:hover{
            transform: scale(1.05);
        }
    }
}
.linkedin-btn{
    width: 195px;
    height: 33px;
    display: block;
    padding-top: 5px;
    padding-bottom: 9px;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 $black-32;
    border: 1px solid rgb(51, 50, 50);
    background-color: #dbdfe2;
    @include text-open-14;
    font-weight: 600;
    color: black;
    text-align: center;
    margin: 0 auto 30px;
    &:hover{
        transform: scale(1.05);
    }
}
.fa-linkedin{
    color: #0077b5;
    font-size: rem(18);
    margin-top: 1px;
}