// Colors
$black: #000000;
$dirty-blue: #438792;
$light-khaki: #f9f4dc;
$silver: #bfcdd0;
$pale-grey: #dde9ed;
$black-20: rgba(0, 0, 0, 0.2);
$black-32: rgba(0, 0, 0, 0.32);
$dark-green-blue: #114e4e;
$dark-green-blue-transparent: rgba(17, 78, 78, 0.8);
$tomato: #e95626;
$brownish-grey: #6b6b6b;
$hospital-green: #a2deaf;
$dried-blood: #420101;
$rusty-red: #bd1010;
$slate: #3e5b65;
$faded-orange: #eab052;
$light-grey-blue: #a0c0cf;
$gunmetal: #54585a;
$azure: #00a0f5;
$white-one: #f5f5f5;
$white-two: #d8d8d8;
$white-full: #ffffff;
$dull-orange: #e17334;
$merche-blue: #b3b3fc;
$merche-orange: #f85455;
$merche-lavander: #a68ced;


//Font-family
$merri-font:'Merriweather', serif;
$openSans-font:'Open Sans', sans-serif;
$montserrat-font:'Montserrat', sans-serif;
$cherry-font: 'Cherry Swash', cursive;
$kalam-font: 'Kalam', cursive;
//Font-weight
$regular-weight: 400;
$semiBold-weight: 600;
$bold-weight: 700;
$black-weight: 900;
//Font-size
$defaultFontSize: 16;
