<main class="landing-main_wrapper">
    <div class="ldng-logo">
        <img class="monkey-img" src="./assets/images/monito.png" alt="monito">
        <img class="ldng-logo__img" src="./assets/images/logo-awesome-profiles.svg"
            alt="Welcome to the Awesome profile-cards website!">
    </div>
    <div class="ldng-text">
        <h1 class="ldng-text__title">Crea tu tarjeta de visita</h1>
        <p class="ldng-text__expl">Crea mejores contactos profesionales de forma fácil y cómoda</p>
    </div>

    <div class="ldng-chartIcons">
        <div class="ldng-chartIcons__container">
            <i class="far fa-object-ungroup ldng-icon"></i>
            <div class="ldng-chartIcons__text">diseña</div>
        </div>
        <div class="ldng-chartIcons__container">
            <i class="far fa-keyboard ldng-icon"></i>
            <div class="ldng-chartIcons__text">rellena</div>
        </div>
        <div class="ldng-chartIcons__container">
            <i class="fas fa-share-alt ldng-icon"></i>
            <div class="ldng-chartIcons__text">comparte</div>
        </div>
    </div>
    <a class="ldng-btn" href="./main.html">comenzar</a>
</main>