<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Landing Awesome Profile Cards</title>
    <link rel="icon" href="./favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900|Montserrat:400,700|Open+Sans:400,600&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cherry+Swash:400,700|Kalam:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css" />
    <script src="https://kit.fontawesome.com/bf82408d8a.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="landing_wrapper">
        <partial src="_landing-main.html" label="Main"></partial>
        <partial src="_footer.html" label="Footer"></partial>
    </div>
</body>

</html>