<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Awesome Profile Cards</title>
  <link rel="icon" href="./favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:900|Montserrat:400,700|Open+Sans:400,600&display=swap"rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cherry+Swash:400,700|Kalam:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/bf82408d8a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <div class="page">
    <partial src="_header.html" label="Header"></partial>
    <partial src="_form-toggle.html" label="Form-Toggle-effect"></partial>
    <partial src="_footer-main.html" label="Footer"></partial>
  </div>
  <script type="text/javascript" src="./assets/js/main.js"></script>
</body>

</html>